/* Base stylesheet for FCC Tribute page
*/


/*************************
**** Structural Styles ***
**************************/




body {
    font-family: 'Droid Serif', "Arial", sans-serif;
    font-weight:300;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Oswald', sans-serif;
}

ul li {
    list-style:none;
}

a {
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}



/*************************
*****  Content Styles ****
**************************/

.chinua-pic {
    display:block;
    max-width:600px;
    max-height:400px;
    width:auto;
    height:auto;
    border-radius: 5px;
    margin-top:3rem;
}

.main-content {
    background:url("../images/chinua-bg.jpg") 0 0 no-repeat;
    background-size: cover;
    display:flex;
    max-height:1000px;
    align-items: center;
    justify-content: center;
    padding:1.5rem;
}

.overlay {
  /*  background-color:rgba(0,0,0,0.7);*/
}

.content-card {
    display:flex;
    border-radius:10px;
    padding:1rem;
    background: rgba(255,255,255,1);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%,
                rgba(255,255,255,1) 40%, rgba(239,222,247,1) 57%,
                rgba(242,225,250,1) 61%, rgba(245,229,252,1) 71%, rgba(246,237,250,1) 100%);
    border:2px solid #270a33;
    justify-content: center;

}

.content-card div:first-of-type span {
    display:inline-block;
    margin-top:0.8rem;
}

.content-card div {
    margin-right: 4rem;

}

.content-card div blockquote {
    margin-top:1rem;
    margin-bottom:0;
}

.chinua-history h2 {
    text-transform: uppercase;
    color:#270a33;
}

.chinua-history ul {
    padding:0;
}

.chinua-history ul li {
    margin-bottom:0.5rem;
}

.chinua-history ul li > i {
    color:#180321;
    margin-right:0.5rem;
}

.main-footer {
    background-color: #000;
    display:flex;
    justify-content:center;
    color:white;
    padding:0.8rem;
}
