/* Base stylesheet for FCC Tribute page
*/


/*************************
**** Structural Styles ***
**************************/




body {
    font-family: 'Roboto', "Arial", sans-serif;
    font-weight:300;
}




/*************************
**** Structural Styles ***
**************************/

.chinua-pic {
    display:block;
    max-width:600px;
    max-height:400px;
    width:auto;
    height:auto;
}
